<!DOCTYPE html>
<html lang="sv-SE">
<head>
  <meta charset="utf-8">
  <title>Orbicular</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
  <link rel="stylesheet" href="./assets/css/app.css" type='text/css'>
  <script src="./assets/js/vendor/jquery-1.8.1.min.js"></script>
  <script type='text/javascript' src="./assets/js/vendor/angular.js"></script>
  <script type='text/javascript' src="./assets/js/vendor/angular-resource.js"></script>
  <script type='text/javascript' src="./assets/js/vendor/angular-animate.js"></script>
  <script type='text/javascript' src="./assets/js/vendor/angular-sanitize.js"></script>
</head>
<body ng-app="orbicularApp">
  <div id="content">
<!--    <div id="rect1610"></div> -->

    <div id="pagePanel" ng-controller="PageController">
      <div ng-repeat="page in pages" class="page" ng-class="{centerChildrenV: page.centerVertically}">
        <div ng-include="page.view"></div>
      </div>
      <div id="pageIndicators">
        <div ng-repeat="ind in pageIndicators" ng-class="{active: ind.state == 1, visited: ind.state == 2}"></div>
      </div>
    </div>

    <div id="sidePanelBackground"></div>
    <div id="sidePanel">
      <div class="title" ng-controller="TimeController">
        <p style="float: right; color: #999">{{date}} {{time}}</p>
        <h1>Välkommen till</h1>
        <img ng-src="{{logoSrc}}" atl="The logotype">
      </div>

      <div ng-controller="BookingController">
        <div ng-repeat="b in bookings" class="booking">
          <h1>{{ b.customerName }}</h1>
          <div class="time">{{ b.startTime | time }} - {{ b.endTime | time }}</div>
          <div class="location" ng-bind-html="b.location.text | unsafe"></div>
  <!--        <div class="locationImage" ng-show="directionImageUrl(b)"><img ng-src="{{ directionImageUrl(b) }}"/></div> -->
        </div>
      </div>
    </div>

    <div id="statusIndicators" ng-controller="StatusController">
      <div ng-repeat="st in status" ng-class="{noConnection: !st.hasConnection}"></div>
    </div>
  </div>

  <script type='text/javascript' src='./assets/js/Settings.js'></script>
  <script type='text/javascript' src='./custom/Settings.js'></script>
  <script type='text/javascript' src='./assets/js/App.js'></script>
  <script type='text/javascript' src='./assets/js/Utils.js'></script>
  <script type='text/javascript' src='./assets/js/StatusController.js'></script>
  <script type='text/javascript' src='./assets/js/PageController.js'></script>
  <script type='text/javascript' src='./assets/js/TimeController.js'></script>
  <script type='text/javascript' src='./assets/js/BookingController.js'></script>
  <script type='text/javascript' src='./assets/js/BibelnSeConverter.js'></script>
</body>
</html>
