body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  background-image: url('../img/background.jpg');
}

/* ---- Layout ---- */

#posters {
  position: absolute;
  left: 0;
  top: 0;
  right: 30%;
  bottom: 0;
  margin: 10px;
}

#sidePanel {
  position: absolute;
  left: 70%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#sidePanelInset {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 2%;
  right: 0;
  background-color: #FFF;

  -moz-box-shadow:    0px 2px 5px 0px #999;
  -webkit-box-shadow: 0px 2px 5px 0px #999;
  -o-box-shadow:      0px 2px 5px 0px #999;
  -ms-box-shadow:     0px 2px 5px 0px #999;
  box-shadow:         0px 2px 5px 0px #999;
}


/* ---- Poster ---- */

.poster {
  position: absolute;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;

  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;

  min-width: 100%;
  min-height: 100%;
}

.poster img {
  -moz-box-shadow:    0px 2px 5px 0px #333;
  -webkit-box-shadow: 0px 2px 5px 0px #333;
  -o-box-shadow:      0px 2px 5px 0px #333;
  -ms-box-shadow:     0px 2px 5px 0px #333;
  box-shadow:         0px 2px 5px 0px #333;

  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

/* Poster animation */

.poster.ng-enter {
  opacity: 0;
}
.poster.ng-enter-active {
  opacity: 1;
}

.poster.ng-leave {
  opacity: 1;
}
.poster.ng-leave-active {
  opacity: 0;
}


/* ---- Welcome ---- */

.welcome {
  margin: 0 0 0 5px;
  padding: 5px;
	font-family: 'Open Sans', sans-serif;
}

.welcome p {
  margin: 0;
  padding: 5px;
  font-size: 80%;
  line-height: 100%;
}

.welcome img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.welcome h1 {
  margin: 0;
  padding: 5px;
  font-size: 100%;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* ---- Booking ---- */

.booking {
  width: 100%;
  color: #FFF;
  -moz-box-shadow:    0px 2px 5px 0px #999;
  -webkit-box-shadow: 0px 2px 5px 0px #999;
  -o-box-shadow:      0px 2px 5px 0px #999;
  -ms-box-shadow:     0px 2px 5px 0px #999;
  box-shadow:         0px 2px 5px 0px #999;
  margin-bottom: 10px;
  overflow: hidden;
}

.booking table {
  width: 100%;
}

.booking td {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.bookingCustomer {
  font-size: 100%;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  padding: 5px;
  background-color: #693;
}

.bookingTime {
  width: 25%;
  font-size: 80%;
  line-height: 100%;
  padding: 5px;
  background-color: #8A5;
}

.bookingEndTime {
  text-align: right;
}

.bookingRoom {
  font-size: 100%;
  line-height: 100%;
  padding: 5px;
  background-color: #9B6;
}

.bookingRoomImg {
  font-size: 1%;
  line-height: 1%;
  padding: 0;
}

.bookingRoomImg img {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Booking animation */

.booking.ng-enter {
  max-height: 0;
  -webkit-transition: 2s linear all;
  -moz-transition: 2s linear all;
  -o-transition: 2s linear all;
  transition: 2s linear all;
}
.booking.ng-enter-active {
  max-height: 520px;
}

.booking.ng-leave {
  opacity: 1;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
}
.booking.ng-leave-active {
  opacity: 0;
}
