html, body, div, span, h1, h2, h3, h4, h5, h6, p, a,
em, img, small, strong, b, u, i, center, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
embed, figure, figcaption, footer, header, hgroup, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.centerChildrenH, .page, #pageIndicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.centerChildrenV {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.animate, .page, #pageIndicators > div {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s; }

#content {
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.77778vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ddd;
  background-image: url("../img/background.jpg");
  font-family: 'Open Sans', sans-serif; }

#pagePanel {
  position: absolute;
  left: 0;
  right: 25%;
  top: 0;
  bottom: 0;
  z-index: 100; }

#sidePanel {
  position: absolute;
  left: 75.2%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20; }

#sidePanelBackground {
  position: absolute;
  left: 75.7%;
  right: 0.5%;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  box-shadow: 0px 0.25vmin 0.6vmin 0px #999; }

.centerChildrenH, .page, #pageIndicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.centerChildrenV {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.animate, .page, #pageIndicators > div {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s; }

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5%;
  bottom: 1.5%;
  padding: 1%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Anumations */ }
  .page img {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
    box-shadow: 0px 0.25vmin 0.6vmin 0px #999; }
  .page.ng-enter {
    -webkit-transform: perspective(1000px) scale(0.2) rotateY(180deg);
    -webkit-transform-origin: 50% 50%;
    transform: perspective(1000px) scale(0.2) rotateY(180deg);
    transform-origin: 50% 50%; }
  .page.ng-enter-active {
    -webkit-transform: perspective(1000px) scale(1) rotateY(0);
    -webkit-transform-origin: 50% 50%;
    transform: perspective(1000px) scale(1) rotateY(0);
    transform-origin: 50% 50%; }
  .page.ng-leave {
    -webkit-transform: perspective(1000px) scale(1) rotateY(0);
    -webkit-transform-origin: 50% 50%;
    transform: perspective(1000px) scale(1) rotateY(0);
    transform-origin: 50% 50%; }
  .page.ng-leave-active {
    -webkit-transform: perspective(1000px) scale(0.2) rotateY(-180deg);
    -webkit-transform-origin: 50% 50%;
    transform: perspective(1000px) scale(0.2) rotateY(-180deg);
    transform-origin: 50% 50%; }

.centerChildrenH, .page, #pageIndicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.centerChildrenV {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.animate, .page, #pageIndicators > div {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s; }

.welcome {
  position: absolute;
  top: 2%;
  max-height: 45%;
  left: 5%;
  right: 5%;
  color: #000;
  background-color: #FFF;
  overflow: hidden;
  opacity: 1;
  -webkit-border-radius: 1.05vmin;
  border-radius: 1.05vmin;
  -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  text-align: center; }
  .welcome h1 {
    padding: 0.875vmin;
    font-size: 3vmin;
    line-height: 3vmin;
    color: #FFF;
    background-color: #73B532;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .welcome > div {
    padding: 0.875vmin;
    font-size: 2.5vmin; }
  .welcome p {
    padding: 0.5vmin 2vmin; }

.bibelnSe {
  position: absolute;
  top: 52%;
  max-height: 45%;
  left: 5%;
  right: 5%;
  color: #000;
  background-color: #FFF;
  overflow: hidden;
  opacity: 1;
  -webkit-border-radius: 1.05vmin;
  border-radius: 1.05vmin;
  -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  text-align: center; }
  .bibelnSe h1 {
    padding: 0.875vmin;
    font-size: 3vmin;
    line-height: 3vmin;
    color: #FFF;
    background-color: #73B532;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .bibelnSe > div {
    padding: 0.875vmin;
    font-size: 2.5vmin; }
  .bibelnSe p {
    padding: 0.5vmin 2vmin; }
  .bibelnSe a {
    text-decoration: none;
    color: #000; }
  .bibelnSe .bibelnse_link {
    font-size: 2vmin;
    color: #999; }

.centerChildrenH, .page, #pageIndicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.centerChildrenV {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.animate, .page, #pageIndicators > div {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s; }

@-webkit-keyframes calendarAnim {
  0% {
    top: 0; }
  50% {
    top: 0; }
  70% {
    top: -60%; }
  100% {
    top: -60%; } }
@keyframes calendarAnim {
  0% {
    top: 0; }
  50% {
    top: 0; }
  70% {
    top: -60%; }
  100% {
    top: -60%; } }
.calendar {
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  color: #000;
  background-color: #FFF;
  overflow: hidden;
  opacity: 1;
  -webkit-border-radius: 1.05vmin;
  border-radius: 1.05vmin;
  -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  padding-bottom: 1.25vmin;
  -webkit-animation: calendarAnim 16s;
  animation: calendarAnim 16s; }
  .calendar h1 {
    padding: 0.875vmin;
    font-size: 3vmin;
    line-height: 3vmin;
    color: #FFF;
    background-color: #73B532;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .calendar > div {
    padding: 0.875vmin;
    font-size: 2.5vmin; }

.calDay {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  font-weight: 900;
  padding: 1vmin; }
  .calDay:not(:first-child) {
    border-bottom: 1px solid #EEE;
    margin: 0 0.75vmin; }
  .calDay.sunday {
    background-color: #FEE; }

.calDate {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  width: 5vmin;
  background-color: #73B532;
  color: #FFF;
  padding: 0.25vmin;
  text-transform: uppercase;
  text-align: center;
  margin-right: 2.5vmin; }
  .calDate div:nth-child(1) {
    font-size: 2.5vmin;
    line-height: 2.75vmin;
    color: #FFF; }
  .calDate div:nth-child(2) {
    font-size: 1.25vmin;
    line-height: 1.5vmin; }

.calEvents {
  -webkit-flex: 1;
  flex: 1;
  font-weight: 400; }

.calEvent {
  display: -webkit-flex;
  display: flex; }
  .calEvent:not(:last-child) {
    margin-bottom: 1.25vmin; }

.calTime {
  color: #000;
  letter-spacing: 0.25vmin;
  margin-right: 2.5vmin; }

.calContent {
  -webkit-flex: 1;
  flex: 1; }
  .calContent div:nth-child(1) {
    letter-spacing: 0.25vmin; }
  .calContent div:nth-child(2) {
    font-size: 2vmin;
    line-height: 2.5vmin; }

.centerChildrenH, .page, #pageIndicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.centerChildrenV {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.animate, .page, #pageIndicators > div {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s; }

.booking {
  position: relative;
  width: 100%;
  color: #000;
  background-color: #FFF;
  overflow: hidden;
  opacity: 1;
  -webkit-border-radius: 0.7vmin;
  border-radius: 0.7vmin;
  -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
  margin-bottom: 0.6vmin;
  /* Animations */ }
  .booking h1 {
    padding: 0.7vmin;
    font-size: 2.4vmin;
    line-height: 2.4vmin;
    color: #FFF;
    background-color: #73B532;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .booking > div {
    padding: 0.7vmin;
    font-size: 2vmin; }
  .booking .time {
    float: left;
    width: 13vmin; }
    .booking .time > span {
      font-size: 1.4vmin;
      color: #999; }
  .booking .location {
    display: table-cell; }
  .booking .locationImage {
    line-height: 0;
    padding: 0;
    margin: 0; }
    .booking .locationImage > img {
      width: 100%; }
  .booking.ng-enter {
    max-height: 0;
    -webkit-transition: 2s linear all;
    transition: 2s linear all; }
  .booking.ng-enter-active {
    max-height: 520px; }
  .booking.ng-leave {
    opacity: 1;
    -webkit-transition: 1s linear all;
    transition: 1s linear all; }
  .booking.ng-leave-active {
    opacity: 0; }

body {
  background-color: #000;
  overflow: hidden; }

/* ---- Indicator ---- */
#pageIndicators {
  position: absolute;
  left: 0;
  right: 0;
  top: 99%;
  bottom: 0;
  overflow: hidden; }
  #pageIndicators > div {
    -webkit-box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
    box-shadow: 0px 0.25vmin 0.6vmin 0px #999;
    width: 3vmin;
    height: 100%;
    display: inline-block;
    margin: 0;
    background-color: #FFF;
    border: 1px solid #AAA;
    border-width-bottom: 0; }
    #pageIndicators > div.active {
      background-color: #73B532; }
    #pageIndicators > div.visited {
      opacity: 0.4;
      background-color: transparent; }

#statusIndicators {
  position: absolute;
  left: 1px;
  bottom: 1px;
  line-height: 0; }
  #statusIndicators > div {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 2px;
    background-color: #DDD; }
  #statusIndicators > div.noConnection {
    background-color: #FBB; }

/* ---- Title ---- */
.title {
  margin: 0.5vmin 1.5vmin; }
  .title h1 {
    font-size: 2.4vmin;
    line-height: 2.4vmin; }
  .title p {
    font-size: 2vmin; }
  .title img {
    width: 100%; }

/* ---- Testing --- */
#rect169 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  opacity: 0.2;
  background: url("http://placehold.it/160x90") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain; }

#rect1610 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  opacity: 0.2;
  background: url("http://placehold.it/160x100") no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain; }

/*# sourceMappingURL=app.css.map */
