html, body, div, span, h1, h2, h3, h4, h5, h6, p, a,
em, img, small, strong, b, u, i, center, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
embed, figure, figcaption, footer, header, hgroup, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

#content {
  width: 100vw;
  height: 62.5vw;
  /* 100/56.25 = 1.778 */
  background: pink;
  max-height: 100vh;
  max-width: 160vh;
  /* 16/9 = 1.778 */
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  /* vertical center */
  left: 0;
  right: 0;
  /* horizontal center */ }

#pagePanel {
  position: absolute;
  left: 0;
  right: 336;
  top: 0;
  bottom: 150; }

#sidePanel {
  position: absolute;
  left: 336;
  right: 480;
  top: 0;
  bottom: 150;
  z-index: 11; }

#sidePanelBackground {
  position: absolute;
  left: 70.5%;
  right: 0.7%;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #FFF; }

/* ---- Page ---- */
.page {
  position: absolute;
  left: 0;
  width: 98%;
  top: 1%;
  bottom: 4%;
  padding: 1%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.page img {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%; }

.page.ng-enter {
  -webkit-transform: perspective(1000) scale(0.3) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-origin: 50% 50%; }

.page.ng-enter-active {
  -webkit-transform: perspective(1000) scale(1) rotateY(0) rotateZ(0);
  -webkit-transform-origin: 50% 50%; }

.page.ng-leave {
  -webkit-transform: perspective(1000) scale(1) rotateY(0) rotateZ(0deg);
  -webkit-transform-origin: 50% 50%; }

.page.ng-leave-active {
  -webkit-transform: perspective(1000) scale(0.3) rotateY(-180deg) rotateZ(0deg);
  -webkit-transform-origin: 50% 50%; }

.calendar {
  position: absolute;
  top: 0;
  left: 3%;
  right: 3%;
  /*  border: 1px solid #AAA;*/
  background-color: #fff;
  /*  background-image: url('../img/calendar-background.png');*/
  /*  -webkit-box-shadow: 0 0 8px -3px #000;
    -moz-box-shadow:    0 0 8px -3px #000;
    box-shadow:         0 0 8px -3px #000;*/
  -webkit-box-shadow: 0px 2px 5px 0px #999;
  -moz-box-shadow: 0px 2px 5px 0px #999;
  box-shadow: 0px 2px 5px 0px #999;
  opacity: 1;
  color: #000;
  text-rendering: optimizelegibility;
  -webkit-animation: calendarAnim 16s;
  animation: calendarAnim 16s; }

@-webkit-keyframes calendarAnim {
  0% {
    top: 0; }
  50% {
    top: 0; }
  70% {
    top: -60%; }
  100% {
    top: -60%; } }
@keyframes calendarAnim {
  0% {
    top: 0; }
  50% {
    top: 0; }
  70% {
    top: -60%; }
  100% {
    top: -60%; } }
.acalendar.ng-hide-add, .acalendar.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.acalendar.ng-hide-add.ng-hide-add-active, .acalendar.ng-hide-remove {
  opacity: 0; }

.acalendar.ng-hide-add, .acalendar.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.calHeader {
  margin: 0;
  padding: 1%;
  font-size: 80%;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: #73b532;
  color: #FFF; }

.calDay {
  padding: 1.5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  font-weight: 900;
  font-size: 1.8vw;
  line-height: 1.8vw; }

.calDay:not(:first-child) {
  border-bottom: 1px solid #EEE;
  margin: 0 2%; }

.calDay.sunday {
  background-color: #FDD !important; }

.calDate {
  width: 7%;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  text-transform: uppercase;
  background-color: #73b532;
  color: #FFF;
  padding: 0.15%;
  margin-right: 2%;
  text-align: center;
  -webkit-box-shadow: 0 0 8px -3px #000;
  -moz-box-shadow: 0 0 8px -3px #000;
  box-shadow: 0 0 8px -3px #000; }

.calDate div:nth-child(1) {
  font-size: 2.0vw;
  line-height: 2.1vw;
  color: #FFF; }

.calDate div:nth-child(2) {
  font-size: 1.0vw;
  line-height: 1.3vw; }

.calEvents {
  -webkit-flex: 1;
  flex: 1;
  font-weight: 400; }

.calEvent {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex; }

.calEvent:not(:last-child) {
  margin-bottom: 2.5%; }

.calTime {
  margin-right: 2%;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5vw;
  line-height: 1.9vw;
  letter-spacing: 1px; }

.calContent {
  -webkit-flex: 1;
  flex: 1; }

.calContent div:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 1px; }

.calContent div:nth-child(2) {
  font-size: 1.5vw;
  line-height: 1.9vw; }

.booking {
  position: relative;
  width: 100%;
  color: #000;
  background-color: #FFF;
  font-size: 80%;
  line-height: 100%;
  margin-bottom: 3%;
  overflow: hidden; }

.booking .customer {
  padding: 2%;
  color: #FFF;
  background-color: #73B532;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap; }

.booking .time {
  float: left;
  width: 28%;
  padding: 0.2vw 2%; }

.booking .time > span {
  font-size: 70%;
  color: #999; }

.booking .location {
  display: table-cell;
  padding: 0.2vw 0 0.5vw 0; }

.booking .locationImage {
  line-height: 0;
  padding: 0;
  margin: 0; }

.booking .locationImage > img {
  width: 100%; }

/* Booking animation */
.booking.ng-enter {
  max-height: 0;
  -webkit-transition: 2s linear all;
  -moz-transition: 2s linear all;
  transition: 2s linear all; }

.booking.ng-enter-active {
  max-height: 520px; }

.booking.ng-leave {
  opacity: 1;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  transition: 1s linear all; }

.booking.ng-leave-active {
  opacity: 0; }

body {
  background-color: #ddd;
  background-image: url("../img/background.jpg");
  overflow: hidden;
  font-size: 1.7vw;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 3vw; }

h2 {
  font-size: 2.5vw; }

a {
  color: #000;
  text-decoration: none; }

.animate {
  -webkit-transition: all linear 1.0s;
  -moz-transition: all linear 1.0s;
  transition: all linear 1.0s; }

.centerChildrenH {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.centerChildrenV {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.boxShadowDark {
  -webkit-box-shadow: 0px 2px 5px 0px #333;
  -moz-box-shadow: 0px 2px 5px 0px #333;
  box-shadow: 0px 2px 5px 0px #333; }

.boxShadowLight {
  -webkit-box-shadow: 0px 2px 5px 0px #999;
  -moz-box-shadow: 0px 2px 5px 0px #999;
  box-shadow: 0px 2px 5px 0px #999; }

/* ---- Indicator ---- */
#indicators {
  position: absolute;
  left: 0;
  right: 0;
  top: 99%;
  bottom: 0; }

#indicators > div {
  display: inline-block;
  width: 2%;
  margin: 0 1% -2% 1%;
  background-color: #fff;
  border: 1px solid #aaa; }

#indicators > div.active {
  background-color: #73B532; }

#indicators > div.visited {
  background-color: #9B6; }

#statusIndicators {
  position: absolute;
  left: 1px;
  bottom: 1px;
  line-height: 0; }

#statusIndicators > div {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 2px;
  background-color: #ddd; }

#statusIndicators > div.noConnection {
  background-color: red; }

/* ---- Title ---- */
.title {
  margin: 0 1.5% 3% 1.5%;
  padding: 5px; }

.title p {
  margin: 0;
  padding: 0;
  font-size: 80%;
  line-height: 100%; }

.title img {
  margin: 0;
  padding: 0;
  width: 100%; }

.title h1 {
  margin: 0;
  padding: 5px;
  font-size: 100%;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* ---- Welcome ---- */
.welcome {
  position: absolute;
  top: 3%;
  max-height: 45%;
  left: 5%;
  right: 5%; }

/* ---- Bibeln.se ---- */
.bibelnSe {
  position: absolute;
  top: 51%;
  max-height: 45%;
  left: 5%;
  right: 5%; }

.bibelnSe .poetry {
  font-style: italic; }

.bibelnSe .bibelnse_link {
  font-size: 80%;
  color: #888; }

.whiteCard {
  padding: 0;
  background-color: #FFF;
  color: black;
  text-align: center;
  overflow: hidden; }

.whiteCard .header {
  padding: 0.3vw;
  text-transform: uppercase;
  color: #FFF;
  background-color: #73b532; }

p.whiteCard {
  padding: 2vw; }

/* ---- Testing --- */
#rect169 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  opacity: 0.2;
  background: url("http://placehold.it/160x90") no-repeat center top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain; }

#rect1610 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  opacity: 0.2;
  background: url("http://placehold.it/160x100") no-repeat center top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain; }

/*# sourceMappingURL=app.css.map */
