@import 'reset';
@import 'layout';
@import 'page';
@import 'welcome';
@import 'event';
@import 'booking';


body {
  background-color: #000;
  overflow: hidden;
}


/* ---- Indicator ---- */

#pageIndicators {
  position: absolute;
  left: 0;
  right: 0;
  top: 99%;
  bottom: 0;
  overflow: hidden;
  @extend .centerChildrenH;

  & > div {
    @extend .animate;
    @include box-shadow(1);

    width: 3vmin;
    height: 100%;

    display: inline-block;
    margin: 0;
    background-color: $main-bg-color;

    border: 1px solid #AAA;
    border-width-bottom: 0;

    &.active {
      background-color: $header-bg-color;
    }

    &.visited {
      opacity: 0.4;
      background-color: transparent;
    }
  }
}

#statusIndicators {
  position: absolute;
  left: 1px;
  bottom: 1px;
  line-height: 0;

  & > div {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 2px;
    background-color: #DDD;
  }

  & > div.noConnection {
    background-color: #FBB;
  }
}



/* ---- Title ---- */

.title {
  margin: 0.5vmin 1.5vmin;

  h1 {
    font-size: 1.2*$booking-text-size;
    line-height: 1.2*$booking-text-size;
  }

  p {
    font-size: $booking-text-size;
  }

  img {
    width: 100%;
  }
}


/* ---- Testing --- */

#rect169 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  opacity: 0.2;
  background: url('http://placehold.it/160x90') no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}

#rect1610 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  opacity: 0.2;
  background: url('http://placehold.it/160x100') no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}
